*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
a{
  text-decoration:  none;
  color: #fff;
}
html{
  font-family: "Lato",sans-serif;
}

nav{
background: #c3defb;
padding: 10px 40px 10px 70px;
border:1px solid #c3defb;
border-left:none;
border-right:none;
}
nav ul{

  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#navbar ul li a {
  padding: 1.25rem;
}
#navbar ul li a:hover {
  background: #FEDBB5;
  border-radius: 20px;
}
nav ul li.logo{
  flex: 1;
  font-size: 30px;
  font-weight: 700;
  color:#fffdfd;
}
nav ul div.items{
  display:inline-flex;
  padding: 0 25px;

}
nav ul div.items a{
  text-decoration: none;
  font-size: 18px;
  padding: 0 12px ;
}

nav ul .search-icon{
height: 40px;
width: 240px;
display: flex;
background: #f2f2f2;
border-radius: 5px;
}
nav ul .search-icon input{
height: 100%;
width: 200px;
border:none;
border-radius: 5px 0 0 5px;
outline:none;
padding: 0 10px ;
color: #000;
font-size: 16px;
}
nav ul .search-icon .icon{
  height: 100%;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 0 5px 5px 0;
  border: 1px solid #c3defb;
  cursor: pointer;
}
nav ul .search-icon .icon:hover{
  background: #e9e7e7;
}
nav ul .search-icon .icon span{
  color: #222;
  font-size: 18px;
}

footer{
position: fixed;
bottom: 0px;
width: 100%;
opacity:1;
filter:alpha(opacity=100);
color: white ;

}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #ffffff;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #FFC28F;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 23px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #FFC28F;
}
.center .content .fas{
  font-size: 1.3rem;

  height: 42px;
  width: 42px;
  line-height: 42px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #FFC28F;
}
.center .content .text{
  font-size: 1.05rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 10px 0;
}
.right form .text{
  font-size: 1rem;
  margin-bottom: 2px;

}
.right form .msg{
  margin-top: 5px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1rem;
  background: #ffffff;
  padding-left: 10px;
  border: 1px solid #000;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #FFC28F;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: 1px solid white;
  outline: none;
  background:none ;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
  color: white;
}
.right form .btn button:hover{
  background: #FFC28F;
}
