.description-substance
{
	max-width: 1200px;
	margin: auto auto 20px;
}
.description-substance p
{
	text-align: justify;
}
.description-substance .floating-image
{
	max-width: 400px;
}
.description-substance .big-image
{
	max-width: 1200px;
	display: block;
  margin-left: auto;
  margin-right: auto;
	margin-bottom: 10px;
}
.description-substance .floating-image.right
{
	margin-top: 20px;
	float: right;
	margin-left: 30px;
	margin-bottom: 10px;
}
.description-substance .floating-image.left
{
	float: left;
	margin-right: 30px;
	margin-bottom: 10px;
	margin-top: 20px;
}
h3{
  font-size: 20px;
	text-align: center;
  margin:20px;
  color: white;
}
p{
	color: white;
	margin:30px;
}